@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
}

.name,
.social-links,
.thank-you {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards;
}

.name {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 20px;
    animation-delay: 2s;
}

.social-links {
    margin-bottom: 20px;
    animation-delay: 4.5s;
}

.social-links i {
    padding: 25px 15px;
    font-size: 3em;
    margin: 0 10px;
    color: #2c76f8;
}

.social-links i:hover {
    transform: scale(1.1);
    color: #005cff;
}

.thank-you {
    margin-top: 70px;
    animation-delay: 10.5s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media only screen and (max-width: 936px) {
    .name {
        font-size: 4em;
    }

    .social-links i {
        font-size: 2em;
        padding: 15px 10px;
    }
}

@media only screen and (max-width: 426px) {
    .name {
        font-size: 2em;
    }

    .social-links i {
        font-size: 1em;
        padding: 15px 7px;
    }
}

@media only screen and (max-width: 376px) {
    .name {
        font-size: 1.6em;
    }

    .social-links i {
        font-size: 1em;
        padding: 15px 5px;
    }
}