@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
}

.name,
.social-links,
.thank-you,
.info-div {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards;
}

.name {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 20px;
    animation-delay: 2s;
}

.social-links {
    margin-bottom: 20px;
    animation-delay: 4.5s;
}

.social-links i {
    padding: 25px 15px;
    font-size: 3em;
    margin: 0 10px;
    color: #2c76f8;
}

.social-links i:hover {
    transform: scale(1.1);
    color: #005cff;
}

.thank-you {
    margin-top: 70px;
    animation-delay: 10.5s;
}
.info-div {
    animation-delay: 11s;
}

.info-btn {
    background: linear-gradient(to right, #6a6a6a, #3c3c3c);
    padding: 6px 20px;
    border: none;
    font-size: 1rem;
    color: #c0dae1;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media only screen and (max-width: 936px) {
    .name {
        font-size: 4em;
    }
    .social-links i {
        font-size: 2em;
        padding: 15px 10px;
    }
}

@media only screen and (max-width: 426px) {
    .name {
        font-size: 2em;
    }
    .social-links i {
        font-size: 1em;
        padding: 15px 7px;
    }
}

@media only screen and (max-width: 376px) {
    .name {
        font-size: 1.6em;
    }
    .social-links i {
        font-size: 1em;
        padding: 15px 5px;
    }
}

.info {
    background: #414141;
    height: 100vh;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

.hero button {
    font-size: 4rem;
    float: right;
    cursor: pointer;
    background-color: #5e5e5e;
    border: none;
    border-radius: 6px;
}

.info section {
    padding: 2rem;
    background-color: #424242;
    margin: 1rem;
    border-radius: 8px;
}

.info section h2 {
    font-size: 3rem;
}

.info section h4 {
    font-size: 2rem;
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #001;
}

.a-education {
    font-size: 1.3rem;
    padding-left: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.a-education a {
    text-decoration: none;
}

.skills ul {
    padding-left: 1.5rem;
    font-size: 1.3rem;
}

.projects {
    margin-bottom: 1.5rem;
}

.p-item ol {
    padding-left: 1.5rem;
    font-size: 1.3rem;
}
.p-item ol li{
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    list-style: none;
}
.p-item a {
    padding-left: 1.5rem;
    font-size: 1.2rem;
}
.projects a {
    margin-right: 1rem;
    color: #00003e;
    text-decoration: none;
}

.social-links-container i {
    padding: 25px 15px;
    font-size: 2.6em;
    margin: 0 10px;
    color: #2c76f8;
}

.social-links-container i:hover {
    transform: scale(1.1);
    color: #005cff;
}

.footer p {
    color: #6e6c6c;
}

.container, .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.info {
    opacity: 0;
    pointer-events: none;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

@media only screen and (max-width:700px) {
    .info section h2 {
        font-size: 2.5rem;
    }
    .info section h4 {
        font-size: 1.5rem;
    }
    .info section p,
    .info section ol li {
        font-size: 1rem;
    }
    .a-education {
        font-size: 1rem;
    }
    .skills ul {
        font-size: 1rem;
    }
    .hero button {
        font-size: 3rem;
    }
    .p-item a {
        font-size: 1rem;
    }
    .social-links-container i {
        font-size: 2rem;
    }
}
@media only screen and (max-width:550px) {
    .info section h2 {
        font-size: 2rem;
    }
    .info section h4 {
        font-size: 1.3rem;
    }
    .info section p,
    .info section ol li {
        font-size: 0.8rem;
    }
    .skills ul {
        font-size: 0.8rem;
    }
     .a-education {
        font-size: 0.8rem;
    }
    .p-item a {
        font-size: 0.8rem;
    }
    .hero button {
        font-size: 2.5rem;
    }
    .social-links-container i {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width:460px) {
    .info section h2 {
        font-size: 1.5rem;
    }
    .info section h4 {
        font-size: 1rem;
    }
    .info section p,
    .info section ol li {
        font-size: 0.6rem;
    }
     .a-education {
        font-size: 0.6rem;
    }
    .skills ul {
        font-size: 0.6rem;
    }
    .p-item a {
        font-size: 0.6rem;
    }
    .hero button {
        font-size: 2rem;
    }
    .social-links-container i {
        font-size: 1.1rem;
    }
}